<!-- CSS file for formatting xml : May 29,2012 --> 
sdfconf
{
background-color: #ffff00;
width: 100%;
}
input,fillhists,pedestals,clusterfinder,output
{
display: block;
color: red;
margin-left: 20pt;
}
dir,name,scale,ndiv,set,nsig,chi2cut,sigcut,seed,minpixels
{
display: block;
color: blue;
margin-left: 40pt;
}